.popup__container {
  background-color: white;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 566px) {
  .popup__container {
    width: 81%;
  }
}

@media screen and (max-width: 400px) {
  .popup__container {
    width: 88.12%;
  }
}
