.profile {
  display: flex;
  max-width: 880px;
  width: 100%;
  white-space: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 40px;
}

@media screen and (max-width: 700px) {
  .profile {
    padding-top: 42px;
    flex-direction: column;
  }
}

