.card__like-icon {
  background-image: url(../../../images/like-icon.svg);
  background-color: white;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  border: 0;
  cursor: pointer;
  opacity: 1;
}

.card__like-icon:hover {
  transition: opacity 1s;
  opacity: .6;
}
