.popup__save {
  width: 83.2%;
  max-width: 358px;
  font-size: 18px;
  color: white;
  line-height: 50px;
  background-color: black;
  border: 0;
  border-radius: 2px;
  margin: 48px auto 37px auto;
  padding: 0;
  cursor: pointer;
  opacity: 1;
}

.popup__save:hover {
  transition: opacity 1s;
  opacity: .8;
}

@media screen and (max-width: 400px) {
  .popup__save {
    width: 84.39%;
    margin: 45px auto 25px auto;
    font-size: 14px;
    line-height: 46px;
  }
}
