.profile__add-button {
  padding: 25px 75px;
  background-image: url(../../../images/plus-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
  opacity: 1;
}


.profile__add-button:hover {
  transition: opacity 1s;
  opacity: .6;
}

@media screen and (max-width: 700px) {
  .profile__add-button {
    margin: 36px auto 0 auto;
    width: 88.1%;
  }
}
